<launch>
  <!-- ROS BAG -->
  <rosparam param="/use_sim_time">true</rosparam>
  <node pkg="rosbag" type="play" name="play" output="screen" required="true"
    args="/Monster/dataset/event_camera/ijrr_rpg_dataset/dynamic_6dof_edited.bag -r 0.3 --clock --pause">
    <!-- MODIFY THE ABOVE DIRECTORY -->
  </node>

  <!-- Publish stereo camera calibration -->
  <!-- <include file="$(find esvo_time_surface)/launch/rosbag_launcher/rpg/rpg_calib_info.launch" /> -->
</launch>
