<launch>
  <!-- ROS BAG -->
  <rosparam param="/use_sim_time">true</rosparam>
  <node pkg="rosbag" type="play" name="play" output="screen" required="true"
    args="/Monster/dataset/event_camera/esvo/indoor_flying1_edited_filter.bag -r 0.7 --clock --pause" >
    <!-- MODIFY THE ABOVE DIRECTORY -->
  </node>
</launch>
